
body {
    font-family: 'Palanquin Dark',
    sans-serif;
}

.flex-content {
    display: flex;
}

.half-width {
    width: 50%;
}

.one-third-width {
    width: 20%;    
}


.top-heading {
    font-family: 'Abril Fatface',
    cursive;
    font-size: 60px;
    margin-top: 100px;
    padding-left: 10px;
    border-left: 5px solid #ff5100;
    
}

p {
    font-size: 20px;
}

.para-right {
    margin-right: 60px;
    margin-bottom: 20px;    
}

.left-align-all {
    margin: 0px 200px;
    
}

/* All images styles here */

img {
    width: 450px;
    padding-right: 40px;    
}

#shape {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}


#gls-coding {
    margin-right: 30px;
    margin-top: 0px;

}

/* All images styles above */

.btn-style {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    background-color: #ff5100;
    padding: 15px 25px;    

}

.center-heading {
    font-size: 40px;
    text-align: center;
}

.limit-heading {
    font-size: 40px;

}

div h3 {
    font-size: 20px;
}

.box-sizing {
    width: 400px;
    height: 360px;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
}

#box-1 {
    background-color: #f5bb51;
}

#box-2 {
    background-color: antiquewhite;

}

#box-3 {
    background-color: aquamarine;

}

/* All span tags here */
.orange-heading {
    color: #f5bb51;
}

#block-heading {
    display: block;
}

/* All span tags above */

/* Top section style starts here */


/* Top section style ends here */


/* My mission section style starts here */


/* My mission section style ends here */


/* Girls pic section style starts here */


/* Girls pic section style ends here */


/* Boys pic section style starts here */


/* Boys pic section style ends here */


/* App showcase section style starts here */


/* App showcase section style ends here */


/* Footer style starts here */


/* Footer style ends here */


