
body {
    font-family: 'Poppins',
    sans-serif;
}

/* Flex design below this line */

.flex-content {
    display: flex;
}

.half-width {
    width: 50%;
}

.one-third-width {
    width: 20%;    
}

/* Flex design above this line */



/* Heading style below this line */

.top-heading {
    font-family: 'Yeseva One',
    cursive;
    font-size: 40px;
    margin-top: 100px;
    padding-left: 20px;
    border-left: 5px solid #ff5100;
    border-radius: 4px;
    line-height: 40px;    
}

.center-heading {
    text-align: center;
}

.limit-heading {
    font-size: 40px;

}

div h3 {
    font-size: 20px;
}

.app-heading {
    font-size:40px;
    text-indent: 2px;
}

.general-heading h1 {
    font-family: 'Poppins',
    sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
}

/* Heading style above this line */



/* Paragraph styles below this line */

p {
    font-size: 20px;
    
}

.para-right {
    margin-right: 60px;
    margin-bottom: 20px;    
}

.left-align-all {
    margin: 0px 200px;
    
}

.project-text {
    margin-left: 200px;
}

.para-align {
    text-align: justify;
}


/* Paragraph styles above this line */



/* Images styles below this line */

img {
    width: 450px;
    padding-right: 40px;    
}

#cap-man {
    margin-top: 10px;
    margin-left: 5px;
}

#shape {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}


#gls-coding {    
    margin-top: 0px;
    padding-left: 70px;
    }


.bg-img {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;    
    width: 500px;
    height: 500px;
}

#project-img {
    width: 400px;
    margin-top: 30px;
    margin-left: 30px;

    
}

.app-showcase img {
    width: 450px;
    padding: 20px 20px;
    margin-top: 50px;
    margin-left: 250px;
    box-shadow: 5px 10px 18px #888888;
}

/* Images styles above this line */



/* Button style below this line */

.btn-style {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    background-color: #ff5100;
    padding: 15px 25px;    

}
/* Button style above this line */


/* Box style below this line */
.box-sizing {
    width: 400px;
    height: 360px;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
}

#box-1 {
    background-color:aliceblue;
}
#box-2 {
    background-color:rgb(235, 218, 211);
}
#box-3 {
    background-color:rgb(248, 243, 216);
}

#app-box {
    background-color: white;
    width: 600px;
    height: 400px;
    margin: 50px 250px 60px 80px;
    padding: 40px;
    box-shadow: 5px 10px 18px #888888;

}

/* Box style below this line */



/* Illustrators icons below this line */
.illustrator {
    width: 100px;       
}
/* Illustrators icons above this line */



/* Section alignment below this line*/

.my-mission {
    margin-bottom: 80px;
}

.coding {
    margin-bottom: 200px;
}

.app-showcase {
    background-color: #F0F8FF;
    width: 100%;
    margin: 80px 0px;    
    padding-top: 30px;
}

/* Section alignment above this line*/



/* Div element style below this line */




/* Div element style above this line */



/* Span tags below this line */
.orange-heading {
    color: #f5bb51;
    
}

.block-heading {
    display: block;
}

/* Span tags above this line */


footer {
    font-family: 'Manrope',
    sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 15px 0px;
}

footer h1 {
    font-family: 'Lobster Two',
    cursive;
}


