
body {
    font-family: 'Palanquin Dark',
    sans-serif;
}

.flex-content {
    display: flex;
}

.half-width {
    width: 50%;
}

.one-third-width {
    width: 20%;    
}


.top-heading {
    font-family: 'Abril Fatface',
    cursive;
    font-size: 60px;
    margin-top: 100px;
    padding-left: 10px;
    border-left: 5px solid #ff5100;
    
}

/* All paragraph styles below this line */

p {
    font-size: 20px;
}

.para-right {
    margin-right: 60px;
    margin-bottom: 20px;    
}

.left-align-all {
    margin: 0px 200px;
    
}

.community-align {
    margin: 0px 70px;
}
/* All paragraph styles above this line */



/* All images styles here */

img {
    width: 450px;
    padding-right: 40px;    
}

#shape {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}


#gls-coding {
    margin-right: 30px;
    margin-top: 0px;

}

#project {
    margin-right: 30px;
    float: right;
}

/* All images styles above */

.btn-style {
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    background-color: #ff5100;
    padding: 15px 25px;    

}

.center-heading {
    font-size: 40px;
    text-align: center;
}

.limit-heading {
    font-size: 40px;

}

div h3 {
    font-size: 20px;
}

.box-sizing {
    width: 400px;
    height: 360px;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
}

#box-1 {
    background-color:aliceblue;
}

#box-2 {
    background-color:rgb(235, 218, 211);

}

#box-3 {
    background-color:rgb(248, 243, 216);

}

/* Illustrators icons below this line */
.illustrator {
    width: 100px;
       
}

/* Illustrators icons above this line */


/* All section alignment below this line*/

.my-mission {
    margin-bottom: 80px;
}

.coding {
    margin-bottom: 80px;
}


/* All section alignment below this line*/



/* All span tags below this line */
.orange-heading {
    color: #f5bb51;
}

#block-heading {
    display: block;
}

/* All span tags above this line */

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 15px 0px;
}


